In [37]:
import pandas as pd
from pandas.api.types import is_numeric_dtype, is_string_dtype
import os

In [38]:
# Import camels_geol.txt as a pandas DataFrame: geol

geol = pd.read_csv('camels_geol.txt', sep=';', header=0, na_values=[], na_filter=False)

geol = geol[['gauge_id', 'geol_1st_class', 'geol_2nd_class']]

geol.head(20)

    gauge_id                   geol_1st_class                   geol_2nd_class
0    1013500  Siliciclastic sedimentary rocks             Basic volcanic rocks
1    1022500              Acid plutonic rocks  Siliciclastic sedimentary rocks
2    1030500  Siliciclastic sedimentary rocks                     Metamorphics
3    1031500  Siliciclastic sedimentary rocks                     Metamorphics
4    1047000                     Metamorphics              Acid plutonic rocks
5    1052500  Siliciclastic sedimentary rocks                     Metamorphics
6    1054200                     Metamorphics  Siliciclastic sedimentary rocks
7    1055000  Siliciclastic sedimentary rocks                     Metamorphics
8    1057000                     Metamorphics              Acid plutonic rocks
9    1073000                     Metamorphics              Acid plutonic rocks
10   1078000              Acid plutonic rocks                     Metamorphics
11   1118300              Acid plutonic rocks                     Metamorphics
12   1121000                     Metamorphics                               NA
13   1123000                     Metamorphics                               NA
14   1134500                     Metamorphics              Acid plutonic rocks
15   1137500              Acid plutonic rocks                     Metamorphics
16   1139000      Carbonate sedimentary rocks              Acid plutonic rocks
17   1139800      Carbonate sedimentary rocks                               NA
18   1142500      Carbonate sedimentary rocks                     Metamorphics
19   1144000                     Metamorphics      Carbonate sedimentary rocks

In [39]:
is_string_dtype(geol['geol_1st_class']), is_string_dtype(geol['geol_2nd_class'])

(True, True)

In [40]:
for index, row in geol.iterrows():
    if not isinstance(row['geol_2nd_class'], str):
        print(row)

In [41]:
# Assuming geol_2nd_class is the column you want to check
# Replace "NA" entries with NaN values
geol['geol_2nd_class'] = geol['geol_2nd_class'].replace('NA', "No Value")

# Now check if the column is of string dtype
if pd.api.types.is_string_dtype(geol['geol_2nd_class']):
    print("Column 'geol_2nd_class' is of string dtype.")
else:
    print("Column 'geol_2nd_class' is not of string dtype.")

Column 'geol_2nd_class' is of string dtype.

In [45]:
out =  'data/rnnStreamflow/CAMELSDemo/dPLHBV/ALL/Testforc/daymet/BuffOpt0/RMSE_para0.25/111111/Fold1/T_19801001_19951001_BS_100_HS_256_RHO_365_NF_12_Buff_365_Mul_16'
if not os.path.isdir(out):
    os.makedirs(out)